################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FUCommunityWeb/FUCommunityWeb/Areas/Identity/Pages/Account/Manage/_ViewStart.cshtml
