@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
    <h1 class="text-center" style="font-weight: bold; color: #20B486;">@ViewData["Title"]</h1>
    <p class="text-center">
        Please check your email to reset your password.
    </p>
</div>


