<body>
    <div class="container forum">
        <h1 class="forum-title">FORUM</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header">
                        General
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="forum-icon me-3"></div>
                                <div>
                                    <div>Announcements</div>
                                    <div class="text-muted">Threads <span>7.4k</span> & Posts <span>7.4k</span></div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="text-end me-3">
                                    Nguyen Van A<br>
                                    07/09/2024
                                </div>
                                <div class="user-avatar"></div>
                            </div>
                        </li>
                        <!-- Repeat list item for more entries -->
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="news-card-header p-2">
                        News
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex align-items-center card-ul">
                            <img src="https://via.placeholder.com/50" class="news-img me-3" alt="News">
                            <div>
                                <div>Famous Courses</div>
                                <div class="text-muted">Nguyen Thi B<br>20:13 12/08/2024</div>
                            </div>
                        </li>
                        <!-- Repeat list item for more news -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>